<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>web技術入門シリーズ課題</h1>
      <% require 'pg' %>

     <% connection = PG::connect(dbname: "goya") %>
     <% connection.internal_encoding = "UTF-8" %>

        <% result = connection.exec("select * from crops where NOT (give_for = '自家消費');") %>
     <% data = [] %>

     <% result.each do |record| %>
       <%  data << "売った相手：#{record["give_for"]}　ゴーヤの大きさ：#{record["weight"]}　長さ：#{record["length"]}　日付：#{record["date"]} 品質：#{record["quality"]}" %>
     <% end %>

     <form action="goya.cgi" method="POST">
        下記のボタンを押すと、譲渡先が自家消費でないゴーヤが表示されます<br><br>
        <!-- valueには、送りたいデータを代入する -->
        <!-- name="goya"を、情報の目印とする -->
       <input type="text" name="goya" value="<%= data.join(' ') %>">
       <input type="submit" name="送信" >
     </form>
     <% result = connection.exec("select * from crops where (quality = 'false');") %>
  <% data = [] %>

  <% result.each do |record| %>
    <%  data << "品質：#{record["quality"]}　売った相手：#{record["give_for"]}　ゴーヤの大きさ：#{record["weight"]}" %>
  <% end %>

  <form action="goya.cgi" method="POST">
     下記のボタンを押すと、品質の悪いゴーヤのリストを表示します<br><br>
     <!-- valueには、送りたいデータを代入する -->
     <!-- name="goya"を、情報の目印とする -->
    <input type="text" name="goya" value="<%= data.join(' ') %>">
    <input type="submit" name="送信" >
  </form>
  </body>
</html>
